{% extends "flights/layout.html" %}

{% block body %}
    <h1 id="welcome">Welcome, {{ request.user.first_name }}!</h1>
    <ul>
        <li>Username: {{ request.user.username }}</li>
        <li>E-mail: {{ request.user.email }}</li>
    </ul>

    <h2>Flights</h2>
    <ul>
        {% for flight in flights %}
        <li>
            <a href="{% url 'flight' flight.id %}">
                Flight {{ flight.id }}: {{ flight.origin }} to {{ flight.destination }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <footer>
        <a href="{% url 'logout' %}">Logout</a>
    </footer>
{% endblock %}